<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1> Página de Cadastro de produtos</h1>
        <section class="menu de navegação">
            <a href="Cadastro.html" alt="Botão para a pagina de Cadastro">Cadastro</a></br>
            <a href="Carrinho.html" alt="Botão para a pagina de Carrinho">Carrinho</a></br>
            <a href="Detalhes_produto.html" alt="Botão para a pagina de Detalhes do produto">Detalhes de produtos</a></br>
            <a href="Login.html" alt="Botão para a pagina de Login">Login</a></br>
            <a href="vendedor.html" alt="Botão para a pagina do vendedor">Administrador</a></br>
            <a href="index.html" alt="Botão para a pagina inicial">Página Inicial</a></br>
        </section>

        <section class="Cadastro de produtos">
            <form method="post" enctype="multipart/form-data" action="/cdp">
                <div>
                    <label class="nome" for="nome">Nome do produto: </label>
                    <input type="text" name="nome" id="nome" placeholder="Nome do produto" required>
                </div>
                <div>
                    <label class="preco" for="preco">Preço: </label>
                    <input type="text" name="preco" id="preco" placeholder="Preço produto" required>
                </div>
                <div>
                    <label class="descricao" for="descricao">Descrição do produto: </label>
                    <input type="text" name="descricao" id="descricao" placeholder="Descrição do produto" required>
                </div>
                <div>
                    <label class="imagem" for="imagem">Imagem: </label>
                    <input type="file" name="file" id="imagem" placeholder="Escolha a imagem do seu produto" required>
                </div>
                    <button type="submit">Cadastrar Produto</button>
            </form>

           
        </section>
    </br>
        <footer>Todos os direitos reservados para Leonardo Fleck e Frederico Lima 2021</footer>
</body>
</html>