<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>
<body>
    <h1>SEU CARRINHO</h1>
        <section class="menu de navegação">
            <a href="Cadastro.html" alt="Botão para a pagina de Cadastro">Cadastro</a></br>
            <a href="Carrinho.html" alt="Botão para a pagina de Carrinho">Carrinho</a></br>
            <a href="Detalhes_produto.html" alt="Botão para a pagina de Detalhes do produto">Detalhes de produtos</a></br>
            <a href="Login.html" alt="Botão para a pagina de Login">Login</a></br>
            <a href="vendedor.html" alt="Botão para a pagina do vendedor">Administrador</a></br>
            <a href="index.html" alt="Botão para a pagina inicial">Página Inicial</a></br>
        </section>

        <section class="Carrinho">
            <!--função para mostrar os produtos dentro do carrinho-->
        </section>
    </br>
        <footer>Todos os direitos reservados para Leonardo Fleck e Frederico Lima 2021</footer>
</body>
</html>