<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
</head>
<body>
    <header class="home"> <img src='./img/icone-header.png' alt='Imagem da mascara da serie mister robot' width="100px" height="100px">
      <h2>Sejam bem vindos ao E-COMM, o Mr. Robot E-commerce</h2>
      <div class="menu-aberto">
        <span>0</span>
        <span class="links_name">Carrinho</span>
      </div>
    </header>
    <div class="sidebar">
        <div class="logo-details">
          <i class='bx bxs-bot icon'></i>
            <div class="logo_name">E-COMM</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
              <i class='bx bx-search' ></i>
             <input type="text" placeholder="Buscar...">
             <span class="tooltip">Buscar</span>
          </li>
          <li>
            <a href="/">
              <i class='bx bx-home'></i>
              <span class="links_name">Homepage</span>
            </a>
             <span class="tooltip">Homepage</span>
          </li>
          <li>
           <a href="/login">
             <i class='bx bx-log-in' ></i>
             <span class="links_name">Login</span>
           </a>
           <span class="tooltip">Login</span>
         </li>
         <li>
           <a href="/cadastro">
             <i class='bx bx-user-plus' ></i>
             <span class="links_name">Cadastro</span>
           </a>
           <span class="tooltip">Cadastro</span>
         </li>
         <!--<li>
           <a href="#">
             <i class='bx bx-pie-chart-alt-2' ></i>
             <span class="links_name">Análises</span>
           </a>
           <span class="tooltip">Análises</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-folder' ></i>
             <span class="links_name">Gerenciador de arquivos</span>
           </a>
           <span class="tooltip">Gerenciador de arquivos</span>
         </li>-->
         <li>
           <a href="/carrinho">
             <i class='bx bx-cart-alt' ></i>
             <span class="links_name">Carrinho</span>
           </a>
           <span class="tooltip">Carrinho</span>
         </li>
         <!--<li>
           <a href="#">
             <i class='bx bx-heart' ></i>
             <span class="links_name">Favoritos</span>
           </a>
           <span class="tooltip">Favoritos</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-cog' ></i>
             <span class="links_name">Configurações</span>
           </a>
           <span class="tooltip">Configurações</span>
         </li>-->
         <li class="profile">
             <div class="profile-details">
               <img src="profile.jpg" alt="profileImg">
               <div class="name_job">
                 <div class="name">Prem Shahi</div>
                 <div class="job">Web designer</div>
               </div>
             </div>
             <i class='bx bx-log-out' id="log_out" ></i>
         </li>
        </ul>
      </div>
      <section class="home-section">
        <div class="produtos">
          <div class="models-produto">
            <a href="">
              <div class="models-produto-img">
                <img src="" alt="">
              </div>
              <div class="models-produto-add">+</div>
            </a>
            <div class="models-produto-valor">R$</div>
            <div class="models-produto-nome">---</div>
            <div class="models-produto-descri">---</div>
          </div>
          <div class="cart-produto">
            <img src="" alt="">
            <div class="cart-produto-qtdarea">
              <button class="cart-item-">-</button>
              <div class="cart-produto-qtd">1</div>
              <button class="cart-item+">+</button>
            </div>
          </div>
        </div>
        <main>
          <div class="modelo-area"></div>
        </main>
        <aside>
          <div class='cart-area'>
            <div class="menu-closer">
              <span class="material-icons">close</span>
            </div>
            <h2>seus produtos</h2>
            <div class="cart"></div>
            <div class="cart-detalhes">
              <div class="cart-total-produto subtotal">
                <span>Subtotal</span>
                <span>R$--</span>
              </div>
              <div class="cart-finalizar">comprar</div>
            </div>
          </div>
        </aside>
        <div class="modelsWindowArea">
          <div class="modelsWindowsBody">
            <div class="modelsinfo-cancelbutton">voltar</div>
            <div class="modelsbig">
              <img src="" alt="">
            </div>
            <div class="modelsInfo">
              <h2>--</h2>
              <div class="modelsInfo-descri">--</div>
              <div class="modelsInfo-sizearea">
                <div class="modelsInfo-sector">escala</div>
                <div class="modelsInfo-sizes">
                  <div data-key="0" class="modelsInfo-size">1/72<span>--</span></div>
                  <div data-key="1" class="modelsInfo-size">1/48<span>--</span></div>
                  <div data-key="2" class="modelsInfo-size selected">1/32<span>--</span></div>
                </div>
              </div>
              <div class="models-preco">
                <div class="modelsInfo-preco">R$--</div>
              </div>
              <div class="modelsInfo-addbutton">Adcionar ao carrinho</div>
              <div class="modelsInfo-cancelbuttonm">Cancelar</div>
            </div>
          </div>
        </div>
      </section>
      <script>
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let searchBtn = document.querySelector(".bx-search");
    
      closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
      });
    
      searchBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
      });
    
      function menuBtnChange() {
       if(sidebar.classList.contains("open")){
         closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
       }else {
         closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
       }
      }
      </script>
  
        <footer>Todos os direitos reservados para Leonardo Fleck e Frederico Lima 2021</footer>
      </body>

</html>