<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
</head>
<body>
    
    <% if(msg != "") {  %>
        <section id="msg">
            <p><%= msg %></p> <span id="close">&times;</span>
        </section>
    <% }  %>
    <section class="upprodut">
        <h1><%= produto.nome %></h1>
        <section>
            <img src="/img/<%= produto.img %>" alt="">
        </section>
    </section>
        <section class="Cadastro_de_produtos-box">
            <form method="post" enctype="multipart/form-data" action="/cdp" class="Cadastro_de_produtos">
                    <input type="text" name="nome" id="nome" placeholder="Nome do produto" required>
                    <input type="text" name="preco" id="preco" placeholder="Preço produto" required>
                    <input type="text" name="descricao" id="descricao" placeholder="Descrição do produto" required>
                    <input type="file" name="file" id="imagem" placeholder="Escolha a imagem do seu produto" required>
                    <button type="submit" id="button-dash-prod">Atualizar Produto</button>
            </form>
        </section>
    </br>
        <footer>Todos os direitos reservados para Leonardo Fleck e Frederico Lima 2021</footer>
</body>
</html>