<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
</head>
<body>
    <h1>produto.nome</h1>

        <section class="formulario">
            <form method="post" enctype="multipart/form-data" action="/update/<%= produto.id %>">
                <div>
                    <label class="nome" for="nome">Nome do produto: </label>
                    <input type="text" name="nome" id="nome" placeholder="Nome do produto" required>
                </div>
                <div>
                    <label class="preco" for="preco">Preço: </label>
                    <input type="text" name="preco" id="preco" placeholder="Preço produto" required>
                </div>
                <div>
                    <label class="descricao" for="descricao">Descrição do produto: </label>
                    <input type="text" name="descricao" id="descricao" placeholder="Descrição do produto" required>
                </div>
                <div>
                    <label class="imagem" for="imagem">Imagem: </label>
                    <input type="file" name="file" id="imagem" placeholder="Escolha a imagem do seu produto" required>
                </div>
                    <button type="submit">Cadastrar Produto</button>
            </form>
        </section>
    </br>
        <footer>Todos os direitos reservados para Leonardo Fleck e Frederico Lima 2021</footer>
</body>
</html>