<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
</head>
<body>
    <h1>Detalhes do produto</h1>
        <section class="menu de navegação">
        </section>

        <section class="Detalhes">
            
        </section>
    </br>
        <footer>Todos os direitos reservados para Leonardo Fleck e Frederico Lima 2021</footer>
</body>
</html>