/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

#home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
  background-color: black;
  color: red;
}

#carrinho{
  font-size:27px;
  cursor: pointer;
}


footer{
  margin-left: 78px;
}

img{
  max-width: 100%;
  display:block;
}

/* CSS do carrinho*/

.produtos{
  display: none;
}

.menu-aberto{
  margin-right: 15px;
  font-size: 26px;
  background-color: #A9DCFF;
  padding: 5px 20px;
  border-radius: 5px;
}

.menu-aberto span{
  margin-right: 10px;
}

.menu-closer{
  width: 32px;
  height: 32px;
  display: none;
  font-size: 30px;
}

aside{
  background-color: red;
  width: 0vw;
  font-family: sans-serif;
  transition: all ease .2s;
  overflow-x: hidden; 
}

aside.show{
  width: 30vw;
}

.cart-area{
  padding: 20px;
}

main{
  flex: 1;
  padding: 20px;
}

h2{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.modelo-area{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.models-produto{
  text-align: center;
  max-width: 250px;
  font-family: sans-serif;
  margin: 0 auto 50px auto;
}

.models-produto a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.models-produto-img{
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 100px;
  box-shadow: 0px 10px 50px rgba(0,0,0, 0.2);
}

.models-produto-img img{
  width: 100%;
  height: auto;
}

.models-produto-add{
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background-color: blueviolet;
  text-align: center;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin-top: -25px;
  transition: all ease .2s;
}

.models-produto a:hover .models-produto-add{
  background-color: #2ecc71;
}

.models-item-valor{
  font-size: 15px;
  color:coral;
  margin-top: 5px;
}

.models-item-nome{
  font-size: 15px;
  color:brown;
  font-weight: bold;
  margin-top: 5px;
}

.models-item-descri{
  font-size: 15px;
  color:chocolate;
  margin-top: 10px;
}

.modelsWindowArea{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(144,122,333, 0.5);
  display: none;
  transition: all ease .5s;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modelsWindowsbody{
  width: 900px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #999;
  display: flex;
  margin: 20px 0;
}

.modelsbig{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modelsbig--back{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: aqua;
}

.modelsbig img{
  height: 400px;
  width: auto;
}


/* CSS do side bar*/

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  /*background: #29254b;*/
  background:black;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  /*color: #fff;*/
  color: red;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  /*color: #fff;*/
  color: red;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  color: red;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #29254b;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #29254b;
  color: #FFF;
  color: red;
}
.sidebar.open .bx-search:hover{
  background: #29254b;
  color: #FFF;
  color: red;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #29254b;
  color: red;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #29254b;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  color: red;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #29254b;
  color: red;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: none;
  background-size:cover;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #29254b;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.home-section .cadastro{
  color:rgb(233, 3, 3);
}
#login{
  display: flex;
  max-width: 100%;
  background-color:#6e6767;
}
#login > section{
  flex:1 1 200px;
}

.container-cadastro #nome_completo, #nome_login, #senha, #email, #telefone{
  display: flex;
  align-items: flex-start;
}
#btn-cad{
  background-color: black;
  color: red;
  border: solid 2px;
  border-color: red;
  border-radius: 5px;
  padding: 5px;
}
#btn-cad:hover{
  background-color: red;
  color: black;
  border-color: white;
  cursor: pointer;
}
.boxbody{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: #34495e;
}
.box{
  width: 450px;
  height: 344px;
  padding: 40px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #6e6767;
  text-align: center;
}
#img-login{
  margin-left: calc(60%/2);
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid red;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #29254b;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  margin-top: 20px;
  text-align: center;
  border: 3px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
/* Final do CSS do Side bar*/
